<div class="thumbnail">
    <img class="img-responsive" src={{hotel.links.thumbnailImage.href}} alt="">
    <div class="caption-full">
        <h4 class="pull-right">{{room.rates.firstObject.priceWithTax}}</h4>
        <h4><a>{{room.name}}</a>
        </h4>
        <h5><a>{{hotel.name}}</a>
        </h5>
        <p>{{hotel.description}} .</p>
        <p>{{hotel.location.address}} </p>
    </div>
    <div class="ratings">
        <p class="pull-right">3 reviews</p>
        <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
        </p>
    </div>
</div>
